version: '3.8'

services:
  mongodb:
    image: mongo:6.0
    container_name: fam-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  kafka:
    image: wurstmeister/kafka:latest
    container_name: fam-kafka
    ports:
      - "9092:9092"
      - "9997:9997"
    environment:
      KAFKA_ADVERTISED_LISTENERS: INSIDE://kafka:29092,OUTSIDE://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INSIDE:PLAINTEXT,OUTSIDE:PLAINTEXT
      KAFKA_LISTENERS: INSIDE://kafka:29092,OUTSIDE://0.0.0.0:9092
      KAFKA_ZOOKEEPER_CONNECT: fam-zookeeper:2181
      KAFKA_INTER_BROKER_LISTENER_NAME: INSIDE

  zookeeper:
    image: wurstmeister/zookeeper:latest
    container_name: fam-zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka-ui:
    container_name: kafka-ui
    image: provectuslabs/kafka-ui:latest
    ports:
      - "8082:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: fam-cluster
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
    depends_on:
      - kafka

  family-account-manager:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fam-app
    depends_on:
      - mongodb
    ports:
      - "8080:8080"
      - "5005:5005/tcp"
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://fam-mongo:27017/event-store
      SPRING_PROFILES_ACTIVE: docker
      KAFKA_ENABLED: "true"
      KAFKA_HOST: "kafka:29092"
      JAVA_TOOL_OPTIONS: -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005

  prometheus:
    image: prom/prometheus
    container_name: fam-prometheus
    volumes:
      - ./infra/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana
    container_name: fam-grafana
    volumes:
      - ./infra/grafana/provisioning:/etc/grafana/provisioning
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_ADMIN_PASSWORD}
  loki:
    image: grafana/loki:3.0.0
    container_name: fam-loki
    ports:
      - "3100:3100"
    volumes:
      - ./infra/loki/loki.yml:/etc/loki/config.yml
      - fam-loki-data:/loki
    command: -config.file=/etc/loki/config.yml

  promtail:
    image: grafana/promtail:3.0.0
    container_name: fam-promtail
    volumes:
      - ./infra/promtail/promtail.yml:/etc/promtail/config.yml
      - /var/run/docker.sock:/var/run/docker.sock
    command: -config.file=/etc/promtail/config.yml
    depends_on:
      - loki

volumes:
  mongo_data:
  fam-grafana-data:
  fam-loki-data: